html {
  background-color: #6bbac588;
}
body {
  margin: 0;
  font-family: 'Work Sans';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6bbac588;
}

/**login form */
input{
  font-size: 1rem;
}
.login {
  margin: 2em auto;
  align-items: center;
  align-content: center;
  padding: 1em;
  max-width: 20rem;
  width: 100%;
}
.login h1 {
  text-align: center;
  color: #14c1ec;
  font-weight: normal;
}
.login-form {
  margin: 2em auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #f4f1f1;
  max-width: 20rem;
  box-shadow: 0 0.3em 0.3em #88888888;
  border-radius: 0.5em;
  font-size: 1em;
}
.login-form input {
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 0px;
  background-color: #d9d9d988;
  box-shadow: 0 0.1em 0.1em #888888;
}
input:focus {
  border-color: #14c1ec;
  border-width: 1px;
  background-color: aliceblue;
  box-shadow: 0 0.1em 0.2em #14c1ec;
}
input:hover {
  border-color: #14c1ec;
  border-width: 1px;
}
.login-form button {
  margin: 1em;
  border-radius: 0.5em;
  border: 0px;
  padding: 1em;
  background-color: rgb(20, 193, 236);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0.2em 0.2em #888888;
}
button:hover {
  background-color: rgb(20, 193, 236, 0.7);
}
.login a {
  align-items: center;
  text-align: center;
  text-decoration: none;
}
/***registeration form*/
.register {
  margin: 2em auto;
  align-items: center;
  align-content: center;
  padding: 1em;
  max-width: 35rem;
  width: 100%;
}
.register h1 {
  text-align: center;
  color: #14c1ec;
  font-weight: normal;
}
.register-form {
  margin: 1em auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #f4f1f1;
  max-width: 20rem;
  box-shadow: 0 0.3em 0.3em #88888888;
  border-radius: 0.5em;
}
.register-form input {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 0px;
  background-color: #d9d9d988;
}

.register-form button {
  margin: 1em;
  border-radius: 0.5em;
  border: 0px;
  padding: 1em;
  background-color: rgb(20, 193, 236);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 2px #888888;
}

.register a {
  align-items: center;
  text-align: center;
  text-decoration: none;
}
button:hover {
  background-color: rgb(20, 193, 236, 0.7);
}
input:focus {
  border-color: #14c1ec;
  border-width: 1px;
  background-color: aliceblue;
}
input:hover {
  border-color: #14c1ec;
  border-width: 1px;
}
.register-form span{
  align-items: center;
  margin: auto auto;
  text-align: center;
  color:red;
}

/**dashboard*/
.top-section{
  max-width: 100%;
  height: 10vh;
  /* z-index: 100; */
  background-color: #14C1EC;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px 2px rgb(128, 128, 128);
  border-radius: 0px 0px 20px 699px;
  position: relative;
}

.top-section ul li{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.logo{
  margin-left: 2rem;
  font-size: 2rem;
  color: white;
}


.side-menu{
  min-height: 90vh;
  overflow: auto;
  align-items: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color:rgb(20, 193, 236,.7);
  /* z-index: 50 */

}
.nav-bar{
  margin-top: 5em;
  /* margin-left: 2em; */
  font-size: 1em;
  
}

.container-dashboard{
  margin-top: 1rem;
  position: absolute;
  z-index: 50;
  max-width: 83%;
}

/* .ant-menu-light{
  background-color:rgb(20, 193, 236,0);
  color:white;
} */
.content{
  padding: 0rem;
}

